<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>i-love-web</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styleguide.css">
    <script defer src="/main.js"></script>
  </head>
  <body>  
    <header><h1>I-LOVE-WEB</h1></header>