{% render 'partials/head.liquid' %}

<script defer src="/markdown.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.2/markdown-it.min.js"></script>

<main>
<a href="/we-love-web">We-Love-Web</a>
<div id="markdown-output"></div>

</main>

{% render 'partials/foot.liquid' %}