{% render 'partials/head.liquid' %}

<script defer src="/markdown.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.2/markdown-it.min.js"></script>

<main>
<a href="/we-love-web">We-Love-Web</a>
<div id="markdown-output"></div>

{% for file in files %}
<ul>
    <li>
        <a href="/{{ file | slice: 0-3}}">{{ file | slice: 0-3}}</a>
    </li>
</ul>
{% endfor %}



{% comment %} | --> liquid filter
{{ files | json }} {% endcomment %}

</main>

{% render 'partials/foot.liquid' %}